apicurio-studio-operator-*.tar.gz

bin

bundle.Dockerfile

cluster.crt
cluster.truststore

deploy/bundle
deploy/catalog/catalog.yaml
deploy/catalog/configs.Dockerfile
deploy/catalog/configs
deploy/crd/apicuriostudios.studio.apicur.io-v1.yml

dist

install/*-SNAPSHOT.yaml
